body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .button_1{
    height:38px;
    background:orangered;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .dark{
    padding:15px;
    background:#101010;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#101010;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:orangered 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:orangered;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#101010;
  }
  
  #newsletter h1{
    float:left;
  }
  
  /* Sidebar */
  aside#sidebar{
    float:left;
    width:30%;
    margin-right:10px;
  }
  
  #dp{
    width:100%;
  }

  button {
    margin:auto;
    width: 40%;
    height: 3%;
    background-color:orangered;
    border: none;
    border-radius: 8px;
    color: gainsboro;
    margin-top:5%;
}
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:orangered;
    text-align: center;
  }

  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  }