body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:90%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .button_1{
    height:38px;
    background:orangered;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .dark{
    padding:15px;
    background:#101010;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#101010;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:orangered 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:orangered;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    height:200px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
  }
  
  
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#101010;
  }
  
  #newsletter h1{
    float:left;
  }
  

  
  /* Main-col */
  article#main-col{
    float:left;
    width:100%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  

  input{
    background-color:#e6e6e6;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
  }
  textarea{
    background-color:#e6e6e6;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    height:100px;
  }
  button {
    width: 100%;
    height: 30px;
    background-color:#101010;
    border: none;
    border-radius: 8px;
    color: gainsboro;
    margin-top:5%;
}

  .long {
    border: 100px;
  }
  #edit {
    font-size:10px;
    font-style:italic;
  }
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:orangered;
    text-align: center;
  }

  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }

    aside#sidebar {
      display:none;
    }
  
    header{
      padding-bottom:20px;
    }


  }